{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css/style.css" %}>
    <title>Shopping Cart</title>
</head>
<body>
        <h3>Cart (3 items)</h3>
        <div class="item-area">
            <table>
                <tr>
                    <th>Product</th>
                    <th>Quantity(kg)</th>
                    <th>Price(per kg)</th>
                    <th>Total Price</th>
                </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>

                    {% if product.name == 'Potatoes' %}
                        <td><input type="number" value="2"/></td>
                    {% endif %}

                    {% if product.name == 'Onions' %}
                    <td><input type="number" value="1"/></td>
                    {% endif %}

                    {% if product.name == 'Carrots' %}
                    <td><input type="number" value="1"/></td>
                    {% endif %}

                    <td>AED {{product.price}}</td>
                    <td>AED 14.50</td>
                </tr>
            {% endfor %}
        </table>
        <div class="btn-div">
            <div>
                <h4>SUB TOTAL: AED 76.50</h4>
            </div>
            <button submit="submit">Buy</button>
        </div>
    </div>
</body>
</html>