{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Shopping Cart</title>
</head>
<body>
        <h3>Cart (3 items)</h3>
        <div class="item-area">
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <form action="/" method="POST">
                {% csrf_token %}
            <table id="cart-table">
                <tr>
                    <th>Product</th>
                    <th>Quantity(kg)</th>
                    <th>Price(per kg)</th>
                    <th>Line Price</th>
                </tr>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>

                    {% if product.name == 'Potatoes' %}
                        <td><input type="number" value="2" id="potatoQty" name="Potatoes" min="1" oninput="calculateSingleItemPrice('potatoes')" /></td>
                        <td >AED <input type="number" id="potatoPrice" value="{{product.price}}" readonly/ ></td>
                        <td class="itemTotal">AED <input type="text" id="potatoTotal" value="10.0" readonly /></td>
                    {% endif %}

                    {% if product.name == 'Carrots' %}
                        <td><input type="number" value="1" id="carrotQty" name="Carrots" min="1" oninput="calculateSingleItemPrice('carrots')"/></td>
                        <td >AED <input type="number" id="carrotPrice" value="{{product.price}}" readonly/ ></td>
                        <td class="itemTotal">AED <input type="text" id="carrotTotal" value="2.0" readonly /></td>
                    {% endif %}

                    {% if product.name == 'Onions' %}
                        <td><input type="number" value="1" id="onionQty" name="Onions" min="1" oninput="calculateSingleItemPrice('onions')"/></td>
                        <td >AED <input type="number" id="onionPrice" value="{{product.price}}" readonly/ ></td>
                        <td class="itemTotal">AED <input type="text" id="onionTotal" value="4.0" readonly /></td>
                    {% endif %}

                </tr>
            {% endfor %}
        </table>
        <div class="btn-div">
            <div class="sub-total">
                <h4 >TOTAL PRICE: AED <input class="totalPrice" id="total" type="text" value="16.0" readonly/></h4>
            </div>
            <input id="submit" type="submit" value="Buy">
        </div>
    </form>
    </div>
</body>
<script src="{% static 'js/app.js' %}"></script>
</html>